In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:

dtframe=pd.read_parquet("D:/Code/Nilm/2_Parquet_file/data.parquet") 
dtframe['location_id'].unique()
dtframe['grid_reading_kwh'] = dtframe[ 'grid_reading_kwh' ].round()
df=dtframe[dtframe['location_id']=='500000010032']

df['creation_time'] = pd.to_datetime(df['creation_time'])
df.set_index(['creation_time'],drop=True,inplace=True)
# df.head(60)
df

                      location_id  grid_reading_kwh
creation_time
2021-05-01 00:01:57  500000010032             460.0
2021-05-01 00:04:01  500000010032             460.0
2021-05-01 00:06:06  500000010032             460.0
2021-05-01 00:08:12  500000010032             460.0
2021-05-01 00:10:17  500000010032             461.0
...                           ...               ...
2023-08-17 23:17:09  500000010032           21680.0
2023-08-17 23:26:52  500000010032           21680.0
2023-08-17 23:36:34  500000010032           21681.0
2023-08-17 23:46:20  500000010032           21681.0
2023-08-17 23:56:02  500000010032           21681.0

[260452 rows x 2 columns]

In [4]:
df_resampled=df.resample(rule='1H').max()
df_resampled['units']=df_resampled['grid_reading_kwh']-df_resampled['grid_reading_kwh'].shift(1)
df_resampled

                      location_id  grid_reading_kwh  units
creation_time
2021-05-01 00:00:00  500000010032             463.0   <NA>
2021-05-01 01:00:00  500000010032             467.0    4.0
2021-05-01 02:00:00  500000010032             470.0    3.0
2021-05-01 03:00:00  500000010032             473.0    3.0
2021-05-01 04:00:00  500000010032             477.0    4.0
...                           ...               ...    ...
2023-08-17 19:00:00  500000010032           21673.0    0.0
2023-08-17 20:00:00  500000010032           21674.0    1.0
2023-08-17 21:00:00  500000010032           21676.0    2.0
2023-08-17 22:00:00  500000010032           21679.0    3.0
2023-08-17 23:00:00  500000010032           21681.0    2.0

[20136 rows x 3 columns]

In [5]:
df_resampled.isnull().sum()

location_id         60
grid_reading_kwh    60
units               76
dtype: int64

In [10]:
x=df_resampled['2021-05-24':'2021-05-25']
x

                      location_id  grid_reading_kwh  units
creation_time
2021-05-24 00:00:00  500000010032            1523.0    1.0
2021-05-24 01:00:00  500000010032            1525.0    2.0
2021-05-24 02:00:00  500000010032            1527.0    2.0
2021-05-24 03:00:00  500000010032            1528.0    1.0
2021-05-24 04:00:00  500000010032            1530.0    2.0
2021-05-24 05:00:00  500000010032            1531.0    1.0
2021-05-24 06:00:00  500000010032            1532.0    1.0
2021-05-24 07:00:00  500000010032            1534.0    2.0
2021-05-24 08:00:00  500000010032            1534.0    0.0
2021-05-24 09:00:00  500000010032            1535.0    1.0
2021-05-24 10:00:00  500000010032            1535.0    0.0
2021-05-24 11:00:00  500000010032            1535.0    0.0
2021-05-24 12:00:00  500000010032            1537.0    2.0
2021-05-24 13:00:00  500000010032            1537.0    0.0
2021-05-24 14:00:00  500000010032            1537.0    0.0
2021-05-24 15:00:00  500000010032            1538.0    1.0
2021-05-24 16:00:00  500000010032            1539.0    1.0
2021-05-24 17:00:00           NaN              <NA>   <NA>
2021-05-24 18:00:00           NaN              <NA>   <NA>
2021-05-24 19:00:00           NaN              <NA>   <NA>
2021-05-24 20:00:00           NaN              <NA>   <NA>
2021-05-24 21:00:00           NaN              <NA>   <NA>
2021-05-24 22:00:00           NaN              <NA>   <NA>
2021-05-24 23:00:00           NaN              <NA>   <NA>
2021-05-25 00:00:00           NaN              <NA>   <NA>
2021-05-25 01:00:00           NaN              <NA>   <NA>
2021-05-25 02:00:00           NaN              <NA>   <NA>
2021-05-25 03:00:00           NaN              <NA>   <NA>
2021-05-25 04:00:00           NaN              <NA>   <NA>
2021-05-25 05:00:00           NaN              <NA>   <NA>
2021-05-25 06:00:00           NaN              <NA>   <NA>
2021-05-25 07:00:00           NaN              <NA>   <NA>
2021-05-25 08:00:00           NaN              <NA>   <NA>
2021-05-25 09:00:00           NaN              <NA>   <NA>
2021-05-25 10:00:00  500000010032            1563.0   <NA>
2021-05-25 11:00:00  500000010032            1564.0    1.0
2021-05-25 12:00:00  500000010032            1565.0    1.0
2021-05-25 13:00:00  500000010032            1565.0    0.0
2021-05-25 14:00:00  500000010032            1566.0    1.0
2021-05-25 15:00:00  500000010032            1566.0    0.0
2021-05-25 16:00:00  500000010032            1567.0    1.0
2021-05-25 17:00:00  500000010032            1567.0    0.0
2021-05-25 18:00:00  500000010032            1567.0    0.0
2021-05-25 19:00:00  500000010032            1568.0    1.0
2021-05-25 20:00:00  500000010032            1568.0    0.0
2021-05-25 21:00:00  500000010032            1569.0    1.0
2021-05-25 22:00:00  500000010032            1569.0    0.0
2021-05-25 23:00:00  500000010032            1572.0    3.0

In [8]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [12]:
i=IterativeImputer()
y=i.fit_transform(x)

In [15]:
# y
X_imputed_df = pd.DataFrame(y)

In [16]:
X_imputed_df

               0           1         2
0   5.000000e+11  1523.00000  1.000000
1   5.000000e+11  1525.00000  2.000000
2   5.000000e+11  1527.00000  2.000000
3   5.000000e+11  1528.00000  1.000000
4   5.000000e+11  1530.00000  2.000000
5   5.000000e+11  1531.00000  1.000000
6   5.000000e+11  1532.00000  1.000000
7   5.000000e+11  1534.00000  2.000000
8   5.000000e+11  1534.00000  0.000000
9   5.000000e+11  1535.00000  1.000000
10  5.000000e+11  1535.00000  0.000000
11  5.000000e+11  1535.00000  0.000000
12  5.000000e+11  1537.00000  2.000000
13  5.000000e+11  1537.00000  0.000000
14  5.000000e+11  1537.00000  0.000000
15  5.000000e+11  1538.00000  1.000000
16  5.000000e+11  1539.00000  1.000000
17  5.000000e+11  1548.16129  0.864602
18  5.000000e+11  1548.16129  0.864602
19  5.000000e+11  1548.16129  0.864602
20  5.000000e+11  1548.16129  0.864602
21  5.000000e+11  1548.16129  0.864602
22  5.000000e+11  1548.16129  0.864602
23  5.000000e+11  1548.16129  0.864602
24  5.000000e+11  1548.16129  0.864602
25  5.000000e+11  1548.16129  0.864602
26  5.000000e+11  1548.16129  0.864602
27  5.000000e+11  1548.16129  0.864602
28  5.000000e+11  1548.16129  0.864602
29  5.000000e+11  1548.16129  0.864602
30  5.000000e+11  1548.16129  0.864602
31  5.000000e+11  1548.16129  0.864602
32  5.000000e+11  1548.16129  0.864602
33  5.000000e+11  1548.16129  0.864602
34  5.000000e+11  1563.00000  0.802673
35  5.000000e+11  1564.00000  1.000000
36  5.000000e+11  1565.00000  1.000000
37  5.000000e+11  1565.00000  0.000000
38  5.000000e+11  1566.00000  1.000000
39  5.000000e+11  1566.00000  0.000000
40  5.000000e+11  1567.00000  1.000000
41  5.000000e+11  1567.00000  0.000000
42  5.000000e+11  1567.00000  0.000000
43  5.000000e+11  1568.00000  1.000000
44  5.000000e+11  1568.00000  0.000000
45  5.000000e+11  1569.00000  1.000000
46  5.000000e+11  1569.00000  0.000000
47  5.000000e+11  1572.00000  3.000000

In [19]:
X = x.drop('location_id', axis=1)
X

                     grid_reading_kwh  units
creation_time
2021-05-24 00:00:00            1523.0    1.0
2021-05-24 01:00:00            1525.0    2.0
2021-05-24 02:00:00            1527.0    2.0
2021-05-24 03:00:00            1528.0    1.0
2021-05-24 04:00:00            1530.0    2.0
2021-05-24 05:00:00            1531.0    1.0
2021-05-24 06:00:00            1532.0    1.0
2021-05-24 07:00:00            1534.0    2.0
2021-05-24 08:00:00            1534.0    0.0
2021-05-24 09:00:00            1535.0    1.0
2021-05-24 10:00:00            1535.0    0.0
2021-05-24 11:00:00            1535.0    0.0
2021-05-24 12:00:00            1537.0    2.0
2021-05-24 13:00:00            1537.0    0.0
2021-05-24 14:00:00            1537.0    0.0
2021-05-24 15:00:00            1538.0    1.0
2021-05-24 16:00:00            1539.0    1.0
2021-05-24 17:00:00              <NA>   <NA>
2021-05-24 18:00:00              <NA>   <NA>
2021-05-24 19:00:00              <NA>   <NA>
2021-05-24 20:00:00              <NA>   <NA>
2021-05-24 21:00:00              <NA>   <NA>
2021-05-24 22:00:00              <NA>   <NA>
2021-05-24 23:00:00              <NA>   <NA>
2021-05-25 00:00:00              <NA>   <NA>
2021-05-25 01:00:00              <NA>   <NA>
2021-05-25 02:00:00              <NA>   <NA>
2021-05-25 03:00:00              <NA>   <NA>
2021-05-25 04:00:00              <NA>   <NA>
2021-05-25 05:00:00              <NA>   <NA>
2021-05-25 06:00:00              <NA>   <NA>
2021-05-25 07:00:00              <NA>   <NA>
2021-05-25 08:00:00              <NA>   <NA>
2021-05-25 09:00:00              <NA>   <NA>
2021-05-25 10:00:00            1563.0   <NA>
2021-05-25 11:00:00            1564.0    1.0
2021-05-25 12:00:00            1565.0    1.0
2021-05-25 13:00:00            1565.0    0.0
2021-05-25 14:00:00            1566.0    1.0
2021-05-25 15:00:00            1566.0    0.0
2021-05-25 16:00:00            1567.0    1.0
2021-05-25 17:00:00            1567.0    0.0
2021-05-25 18:00:00            1567.0    0.0
2021-05-25 19:00:00            1568.0    1.0
2021-05-25 20:00:00            1568.0    0.0
2021-05-25 21:00:00            1569.0    1.0
2021-05-25 22:00:00            1569.0    0.0
2021-05-25 23:00:00            1572.0    3.0

In [20]:
imputer = IterativeImputer()
imputer.fit(X)
X_imputed = imputer.transform(X)

In [21]:
X_imputed_df = pd.DataFrame(X_imputed, columns=X.columns, index=x.index)
X_imputed_df

                     grid_reading_kwh     units
creation_time
2021-05-24 00:00:00        1523.00000  1.000000
2021-05-24 01:00:00        1525.00000  2.000000
2021-05-24 02:00:00        1527.00000  2.000000
2021-05-24 03:00:00        1528.00000  1.000000
2021-05-24 04:00:00        1530.00000  2.000000
2021-05-24 05:00:00        1531.00000  1.000000
2021-05-24 06:00:00        1532.00000  1.000000
2021-05-24 07:00:00        1534.00000  2.000000
2021-05-24 08:00:00        1534.00000  0.000000
2021-05-24 09:00:00        1535.00000  1.000000
2021-05-24 10:00:00        1535.00000  0.000000
2021-05-24 11:00:00        1535.00000  0.000000
2021-05-24 12:00:00        1537.00000  2.000000
2021-05-24 13:00:00        1537.00000  0.000000
2021-05-24 14:00:00        1537.00000  0.000000
2021-05-24 15:00:00        1538.00000  1.000000
2021-05-24 16:00:00        1539.00000  1.000000
2021-05-24 17:00:00        1548.16129  0.864602
2021-05-24 18:00:00        1548.16129  0.864602
2021-05-24 19:00:00        1548.16129  0.864602
2021-05-24 20:00:00        1548.16129  0.864602
2021-05-24 21:00:00        1548.16129  0.864602
2021-05-24 22:00:00        1548.16129  0.864602
2021-05-24 23:00:00        1548.16129  0.864602
2021-05-25 00:00:00        1548.16129  0.864602
2021-05-25 01:00:00        1548.16129  0.864602
2021-05-25 02:00:00        1548.16129  0.864602
2021-05-25 03:00:00        1548.16129  0.864602
2021-05-25 04:00:00        1548.16129  0.864602
2021-05-25 05:00:00        1548.16129  0.864602
2021-05-25 06:00:00        1548.16129  0.864602
2021-05-25 07:00:00        1548.16129  0.864602
2021-05-25 08:00:00        1548.16129  0.864602
2021-05-25 09:00:00        1548.16129  0.864602
2021-05-25 10:00:00        1563.00000  0.802673
2021-05-25 11:00:00        1564.00000  1.000000
2021-05-25 12:00:00        1565.00000  1.000000
2021-05-25 13:00:00        1565.00000  0.000000
2021-05-25 14:00:00        1566.00000  1.000000
2021-05-25 15:00:00        1566.00000  0.000000
2021-05-25 16:00:00        1567.00000  1.000000
2021-05-25 17:00:00        1567.00000  0.000000
2021-05-25 18:00:00        1567.00000  0.000000
2021-05-25 19:00:00        1568.00000  1.000000
2021-05-25 20:00:00        1568.00000  0.000000
2021-05-25 21:00:00        1569.00000  1.000000
2021-05-25 22:00:00        1569.00000  0.000000
2021-05-25 23:00:00        1572.00000  3.000000

In [ ]:

df['2021-05-24 16:00:00':'2021-05-25 12:00:00']

df_resampled.isnull().sum()
indices_with_missing_values = df_resampled[df_resampled.isnull().any(axis=1)].index

# Display the indices
print(indices_with_missing_values)
df12
add_resut=seasonal_decompose(df_resampled[1:500]['units'],model='additive',period=24)
add_resut.plot().suptitle('\n additive',fontsize=12)

df_resampled['seasonal']=add_resut.seasonal
df_resampled['trend']=add_resut.trend
df_resampled['residual']=add_resut.resid
df_resampled[1:500]['seasonal'].plot(figsize=(18,4))
df['2021-05-24 16:00:00':'2021-05-25 12:00:00']