In [1]:
import pandas as pd
import numpy as np

from statsmodels.tsa.api import ExponentialSmoothing, SimpleExpSmoothing,Holt
import warnings
warnings.filterwarnings('ignore')

from statsmodels.tsa.seasonal import seasonal_decompose
from dateutil.parser import parse
from statsmodels.tsa.stattools import adfuller

In [2]:
dtframe=pd.read_parquet("D:/Code/Nilm/2_Parquet_file/data.parquet")

In [49]:
dtframe

         location_id        creation_time  grid_reading_kwh
0       500000010032  2021-05-01 00:01:57             460.0
1       500000010032  2021-05-01 00:04:01             460.0
2       500000010032  2021-05-01 00:06:06             460.0
3       500000010032  2021-05-01 00:08:12             460.0
4       500000010032  2021-05-01 00:10:17             461.0
...              ...                  ...               ...
522662  500000010232  2023-08-17 23:16:45           11860.0
522663  500000010232  2023-08-17 23:26:28           11860.0
522664  500000010232  2023-08-17 23:36:10           11860.0
522665  500000010232  2023-08-17 23:45:56           11861.0
522666  500000010232  2023-08-17 23:55:38           11861.0

[522667 rows x 3 columns]

In [3]:
dtframe['location_id'].unique()
dtframe['grid_reading_kwh'] = dtframe[ 'grid_reading_kwh' ].round()
df=dtframe[dtframe['location_id']=='500000010032']

df['creation_time'] = pd.to_datetime(df['creation_time'])
df.set_index(['creation_time'],drop=True,inplace=True)
# df.head(60)

                      location_id  grid_reading_kwh
creation_time
2021-05-01 00:01:57  500000010032             460.0
2021-05-01 00:04:01  500000010032             460.0
2021-05-01 00:06:06  500000010032             460.0
2021-05-01 00:08:12  500000010032             460.0
2021-05-01 00:10:17  500000010032             461.0
2021-05-01 00:12:21  500000010032             461.0
2021-05-01 00:14:29  500000010032             461.0
2021-05-01 00:16:35  500000010032             461.0
2021-05-01 00:18:40  500000010032             461.0
2021-05-01 00:20:44  500000010032             461.0
2021-05-01 00:22:48  500000010032             461.0
2021-05-01 00:24:52  500000010032             461.0
2021-05-01 00:26:56  500000010032             461.0
2021-05-01 00:29:03  500000010032             462.0
2021-05-01 00:31:08  500000010032             462.0
2021-05-01 00:33:12  500000010032             462.0
2021-05-01 00:35:16  500000010032             462.0
2021-05-01 00:37:20  500000010032             462.0
2021-05-01 00:39:24  500000010032             462.0
2021-05-01 00:41:29  500000010032             462.0
2021-05-01 00:43:33  500000010032             463.0
2021-05-01 00:45:37  500000010032             463.0
2021-05-01 00:47:41  500000010032             463.0
2021-05-01 00:49:45  500000010032             463.0
2021-05-01 00:51:50  500000010032             463.0
2021-05-01 00:53:53  500000010032             463.0
2021-05-01 00:55:58  500000010032             463.0
2021-05-01 00:58:05  500000010032             463.0
2021-05-01 01:00:09  500000010032             463.0
2021-05-01 01:02:13  500000010032             464.0
2021-05-01 01:04:17  500000010032             464.0
2021-05-01 01:06:25  500000010032             464.0
2021-05-01 01:08:29  500000010032             464.0
2021-05-01 01:10:33  500000010032             464.0
2021-05-01 01:12:39  500000010032             464.0
2021-05-01 01:14:41  500000010032             464.0
2021-05-01 01:16:46  500000010032             464.0
2021-05-01 01:18:50  500000010032             464.0
2021-05-01 01:20:54  500000010032             465.0
2021-05-01 01:22:58  500000010032             465.0
2021-05-01 01:25:02  500000010032             465.0
2021-05-01 01:27:07  500000010032             465.0
2021-05-01 01:29:14  500000010032             465.0
2021-05-01 01:31:18  500000010032             465.0
2021-05-01 01:33:22  500000010032             465.0
2021-05-01 01:35:27  500000010032             465.0
2021-05-01 01:37:33  500000010032             466.0
2021-05-01 01:39:37  500000010032             466.0
2021-05-01 01:41:42  500000010032             466.0
2021-05-01 01:43:46  500000010032             466.0
2021-05-01 01:45:53  500000010032             466.0
2021-05-01 01:48:00  500000010032             466.0
2021-05-01 01:50:04  500000010032             466.0
2021-05-01 01:52:08  500000010032             466.0
2021-05-01 01:54:12  500000010032             466.0
2021-05-01 01:56:16  500000010032             467.0
2021-05-01 01:58:23  500000010032             467.0
2021-05-01 02:00:30  500000010032             467.0
2021-05-01 02:02:35  500000010032             467.0
2021-05-01 02:04:38  500000010032             467.0

In [51]:
df

                      location_id  grid_reading_kwh
creation_time
2021-05-01 00:01:57  500000010032             460.0
2021-05-01 00:04:01  500000010032             460.0
2021-05-01 00:06:06  500000010032             460.0
2021-05-01 00:08:12  500000010032             460.0
2021-05-01 00:10:17  500000010032             461.0
...                           ...               ...
2023-08-17 23:17:09  500000010032           21680.0
2023-08-17 23:26:52  500000010032           21680.0
2023-08-17 23:36:34  500000010032           21681.0
2023-08-17 23:46:20  500000010032           21681.0
2023-08-17 23:56:02  500000010032           21681.0

[260452 rows x 2 columns]

In [4]:
df_min=df.resample(rule='1H').min()
df_resampled=df.resample(rule='1H').max()
df_resampled['units']=df_resampled['grid_reading_kwh']-df_min['grid_reading_kwh']
df_resampled['units'].fillna(0,inplace=True)

In [25]:
df_resampled

                      location_id  grid_reading_kwh  units
creation_time
2021-05-01 00:00:00  500000010032             463.0    3.0
2021-05-01 01:00:00  500000010032             467.0    4.0
2021-05-01 02:00:00  500000010032             470.0    3.0
2021-05-01 03:00:00  500000010032             473.0    3.0
2021-05-01 04:00:00  500000010032             477.0    4.0
...                           ...               ...    ...
2023-08-17 19:00:00  500000010032           21673.0    0.0
2023-08-17 20:00:00  500000010032           21674.0    1.0
2023-08-17 21:00:00  500000010032           21676.0    2.0
2023-08-17 22:00:00  500000010032           21679.0    3.0
2023-08-17 23:00:00  500000010032           21681.0    2.0

[20136 rows x 3 columns]

In [8]:
df_resampled.isnull().sum()

location_id         60
grid_reading_kwh    60
units                0
dtype: int64

In [50]:
df['2021-05-24 16:00:00':'2021-05-25 12:00:00']

                      location_id  grid_reading_kwh
creation_time
2021-05-24 16:03:10  500000010032            1538.0
2021-05-24 16:06:24  500000010032            1538.0
2021-05-24 16:09:41  500000010032            1538.0
2021-05-24 16:13:01  500000010032            1538.0
2021-05-24 16:16:18  500000010032            1538.0
2021-05-24 16:19:32  500000010032            1538.0
2021-05-24 16:22:45  500000010032            1538.0
2021-05-24 16:25:59  500000010032            1538.0
2021-05-24 16:31:32  500000010032            1538.0
2021-05-24 16:34:46  500000010032            1539.0
2021-05-25 10:59:09  500000010032            1563.0
2021-05-25 11:02:28  500000010032            1563.0
2021-05-25 11:05:46  500000010032            1563.0
2021-05-25 11:09:00  500000010032            1563.0
2021-05-25 11:12:16  500000010032            1563.0
2021-05-25 11:15:29  500000010032            1563.0
2021-05-25 11:18:42  500000010032            1563.0
2021-05-25 11:21:56  500000010032            1563.0
2021-05-25 11:25:16  500000010032            1563.0
2021-05-25 11:28:30  500000010032            1563.0
2021-05-25 11:31:47  500000010032            1563.0
2021-05-25 11:35:10  500000010032            1563.0
2021-05-25 11:38:24  500000010032            1563.0
2021-05-25 11:41:37  500000010032            1563.0
2021-05-25 11:44:55  500000010032            1563.0
2021-05-25 11:48:09  500000010032            1563.0
2021-05-25 11:51:29  500000010032            1563.0
2021-05-25 11:54:43  500000010032            1563.0
2021-05-25 11:58:00  500000010032            1564.0

In [45]:
df_resampled['2021-05-24':'2021-05-25']

                      location_id  grid_reading_kwh  units
creation_time
2021-05-24 00:00:00  500000010032            1523.0    1.0
2021-05-24 01:00:00  500000010032            1525.0    2.0
2021-05-24 02:00:00  500000010032            1527.0    2.0
2021-05-24 03:00:00  500000010032            1528.0    1.0
2021-05-24 04:00:00  500000010032            1530.0    2.0
2021-05-24 05:00:00  500000010032            1531.0    1.0
2021-05-24 06:00:00  500000010032            1532.0    1.0
2021-05-24 07:00:00  500000010032            1534.0    2.0
2021-05-24 08:00:00  500000010032            1534.0    0.0
2021-05-24 09:00:00  500000010032            1535.0    1.0
2021-05-24 10:00:00  500000010032            1535.0    0.0
2021-05-24 11:00:00  500000010032            1535.0    0.0
2021-05-24 12:00:00  500000010032            1537.0    1.0
2021-05-24 13:00:00  500000010032            1537.0    0.0
2021-05-24 14:00:00  500000010032            1537.0    0.0
2021-05-24 15:00:00  500000010032            1538.0    1.0
2021-05-24 16:00:00  500000010032            1539.0    1.0
2021-05-24 17:00:00           NaN              <NA>    0.0
2021-05-24 18:00:00           NaN              <NA>    0.0
2021-05-24 19:00:00           NaN              <NA>    0.0
2021-05-24 20:00:00           NaN              <NA>    0.0
2021-05-24 21:00:00           NaN              <NA>    0.0
2021-05-24 22:00:00           NaN              <NA>    0.0
2021-05-24 23:00:00           NaN              <NA>    0.0
2021-05-25 00:00:00           NaN              <NA>    0.0
2021-05-25 01:00:00           NaN              <NA>    0.0
2021-05-25 02:00:00           NaN              <NA>    0.0
2021-05-25 03:00:00           NaN              <NA>    0.0
2021-05-25 04:00:00           NaN              <NA>    0.0
2021-05-25 05:00:00           NaN              <NA>    0.0
2021-05-25 06:00:00           NaN              <NA>    0.0
2021-05-25 07:00:00           NaN              <NA>    0.0
2021-05-25 08:00:00           NaN              <NA>    0.0
2021-05-25 09:00:00           NaN              <NA>    0.0
2021-05-25 10:00:00  500000010032            1563.0    0.0
2021-05-25 11:00:00  500000010032            1564.0    1.0
2021-05-25 12:00:00  500000010032            1565.0    1.0
2021-05-25 13:00:00  500000010032            1565.0    0.0
2021-05-25 14:00:00  500000010032            1566.0    1.0
2021-05-25 15:00:00  500000010032            1566.0    0.0
2021-05-25 16:00:00  500000010032            1567.0    1.0
2021-05-25 17:00:00  500000010032            1567.0    0.0
2021-05-25 18:00:00  500000010032            1567.0    0.0
2021-05-25 19:00:00  500000010032            1568.0    1.0
2021-05-25 20:00:00  500000010032            1568.0    0.0
2021-05-25 21:00:00  500000010032            1569.0    1.0
2021-05-25 22:00:00  500000010032            1569.0    0.0
2021-05-25 23:00:00  500000010032            1572.0    3.0

In [52]:
df_resampled.isnull().sum()

location_id         60
grid_reading_kwh    60
units                0
dtype: int64

In [43]:
indices_with_missing_values = df_resampled[df_resampled.isnull().any(axis=1)].index

# Display the indices
print(indices_with_missing_values)

DatetimeIndex(['2021-05-24 17:00:00', '2021-05-24 18:00:00',
               '2021-05-24 19:00:00', '2021-05-24 20:00:00',
               '2021-05-24 21:00:00', '2021-05-24 22:00:00',
               '2021-05-24 23:00:00', '2021-05-25 00:00:00',
               '2021-05-25 01:00:00', '2021-05-25 02:00:00',
               '2021-05-25 03:00:00', '2021-05-25 04:00:00',
               '2021-05-25 05:00:00', '2021-05-25 06:00:00',
               '2021-05-25 07:00:00', '2021-05-25 08:00:00',
               '2021-05-25 09:00:00', '2021-05-28 08:00:00',
               '2021-05-28 09:00:00', '2021-05-28 10:00:00',
               '2021-05-28 11:00:00', '2021-07-15 13:00:00',
               '2021-08-26 13:00:00', '2021-08-26 14:00:00',
               '2021-08-26 15:00:00', '2021-08-26 16:00:00',
               '2021-08-26 17:00:00', '2021-08-26 18:00:00',
               '2021-09-01 11:00:00', '2022-06-09 15:00:00',
               '2022-06-09 16:00:00', '2022-06-09 17:00:00',
               '2022-06-16 02:00:00', '2022-06-22 00:00:00',
               '2022-06-22 02:00:00', '2022-06-22 04:00:00',
               '2022-06-22 05:00:00', '2022-06-22 06:00:00',
               '2022-06-22 07:00:00', '2022-06-22 08:00:00',
               '2022-07-05 01:00:00', '2022-07-05 02:00:00',
               '2022-07-05 03:00:00', '2022-07-05 04:00:00',
               '2022-07-05 05:00:00', '2022-07-05 06:00:00',
               '2022-07-05 07:00:00', '2022-07-05 08:00:00',
               '2022-07-05 09:00:00', '2022-07-05 10:00:00',
               '2022-07-05 11:00:00', '2022-07-05 12:00:00',
               '2022-07-05 13:00:00', '2022-07-05 14:00:00',
               '2022-07-25 23:00:00', '2023-02-10 12:00:00',
               '2023-02-10 13:00:00', '2023-02-10 14:00:00',
               '2023-06-22 16:00:00', '2023-07-13 03:00:00'],
              dtype='datetime64[ns]', name='creation_time', freq=None)

In [41]:
df12

[                     location_id  grid_reading_kwh  units
 creation_time
 2021-05-01 00:00:00        False             False  False
 2021-05-01 01:00:00        False             False  False
 2021-05-01 02:00:00        False             False  False
 2021-05-01 03:00:00        False             False  False
 2021-05-01 04:00:00        False             False  False
 ...                          ...               ...    ...
 2023-08-17 19:00:00        False             False  False
 2023-08-17 20:00:00        False             False  False
 2023-08-17 21:00:00        False             False  False
 2023-08-17 22:00:00        False             False  False
 2023-08-17 23:00:00        False             False  False

 [20136 rows x 3 columns]]

In [ ]:
add_resut=seasonal_decompose(df_resampled[1:500]['units'],model='additive',period=24)
add_resut.plot().suptitle('\n additive',fontsize=12)

In [ ]:
df_resampled['seasonal']=add_resut.seasonal
df_resampled['trend']=add_resut.trend
df_resampled['residual']=add_resut.resid

In [ ]:
df_resampled[1:500]['seasonal'].plot(figsize=(18,4))

In [ ]:
df['2021-05-24 16:00:00':'2021-05-25 12:00:00']